<!DOCTYPE html>
<html>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>

<h3>Add a New User</h3>

<div>
  <form action="/user/add" method="post">
    <label for="full_name">Name</label>
    <input type="text" id="full_name" name="full_name" placeholder="Your name.." value="">

    <label for="email">Email</label>
    <input type="text" id="email" name="email" placeholder="Your email.." value="">

    <label for="age">Age</label>
    <input type="text" id="age" name="age" placeholder="Your age.." value="">

    <label for="city">City</label>
    <input type="text" id="city" name="city" placeholder="Your city.." value="">

    <label for="profession">Profession</label>
    <input type="text" id="profession" name="profession" placeholder="Your profession.." value="">
    
  
    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>
